/* You can add global styles to this file, and also import other style files */
@import "./assets/scss/app.scss";
$theme: #7366ff;

.router-wrapper  {
    position:  relative;
    overflow:  hidden;
    width:  100vw;
    height:  calc(100%  -  47px);
    perspective:  1200px;
    transform-style:  preserve-3d;
}

:host  {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #60d7a9;
}
//Cards settings
.custom-card:hover{
    cursor: pointer;
    transition: all .3s ease;
    box-shadow: 0 2px 14px -3px $theme;
}
.custom-card .card-footer > div i { 
    font-size: 15px !important;
}
.counter{
    cursor: pointer;
}
